/**
 * 셋팅
 * 전역변수
 * color: primary, secondary, tertiary, positive, negative, background, line, text, icon, tag...
 * font-size: body, button, tag
**/

//< 테마컬러
:root {
  --color-bg: #f5f5f7;
  --color-sub: #c4d8f6;

  --color-main: #d8c4f6;
  --color-main-rgb: 216, 196, 246;
  --color-main-dark: #291853;

  --color-secondary: #a7c699;
  --color-tertiary: #d0dbeb;

  --bg-content: #fff;

  --lightTheme-dark: #4a4854;
  --lightTheme-light: #c4c2ca;
}

[data-theme="dark"] {
  --color-bg: #2f2937;
  --color-sub: #588b9d;

  --color-main: #4e415f;
  --color-main-rgb: 216, 196, 246;
  --color-main-dark: #291853;

  --color-secondary: #a7c699;
  --color-tertiary: #d0dbeb;

  --bg-content: #c4c2ca;

  --lightTheme-dark: #e2e2e3;
  --lightTheme-light: #4a4854;
}
//> 테마컬러

//< 컬러
$warning: #ffad1f;
$color_pointer: #f9f871;

// 그레이 스케일
$color_white: #fff;
$color_black: #1d1d1d;
$gray_50: #f5f5f7;
$gray_100: #e2e2e3;
$gray_150: #d1d1d6;
$gray_200: #c4c2ca;
$gray_300: #999;
$gray_500: #96a7c0;
$gray_600: #736e79;
$gray_800: #4a4854;
//> 컬러

//< 디자인
// 여백
$section_padding_block: 9rem;

// border-radius
$borderRadius_base: 2.5rem;
//> 디자인

//< 기타
// z-index
$zIndex_header: 10;
$zIndex_floating: 10;
$zIndex_modal: 100;

// 애니메이션
// $transition-fast: .1s ease;
$transition_normal: .2s ease;
$transition_slow: .3s ease-in-out;
$transition_slower: .8s ease-in-out;
// $transition-bounce: .3s cubic-bezier(0.34, 1.56, 0.64, 1);
//> 기타

//< 텍스트
// 폰트
$font_primary: 'PretendardVariable', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', 'Roboto', sans-serif;
$font_point: 'BagelFatOne', 'PretendardVariable', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', 'Roboto', sans-serif;

// ir-blind
.ir-blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
//> 텍스트

//< 사이즈
// 최소사이즈
$minWidth_base: 136rem;// mobile 320px

// 모달
$modal_header_height: 7rem;
$modal_side_margin: 4rem;
$modal_inner_padding: 3rem;
//> 사이즈