@charset 'utf-8';

@use 'styles/helper/mixin';
@use 'styles/setting/var' as *;

/**
 * parts
**/

//< 뱃지
.badge {
  padding: .5rem 1.5rem .4rem;
  color: $gray_800;
  border-radius: 1rem;
  background-color: $gray_100;

  @include mixin.media(S) {
    padding: .3rem .9rem .1rem;
    border-radius: .4rem;
  }

  &Mark {
    position: relative;
    @include mixin.font($gray_300 '2rem/1.2');
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    gap: .7rem;

    @include mixin.media(S) {
      gap: .4rem;
    }
  }
}
//> 뱃지