@charset 'utf-8';

@use 'styles/helper/mixin';
@use 'styles/setting/var' as *;

/**
 * components/sections
 * skills/skills.module.scss
**/

//< 레이아웃
.skills {
  padding-block: 12rem;
  background-color: $color_bg;

  &Box {
    padding: 8rem 0;
    border-radius: 2.5rem;
    background-color: $color_white;
  }

  &Inner {
    padding-inline: min(7vw, 10.5rem);
  }

  &Sub {
    margin-bottom: 2rem;
    @include mixin.font(700 '2rem');

    span {
      color: $gray_200;
    }
  }
}
//> 레이아웃

//< 스킬 리스트
.skills {
  &List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  &Item {
    position: relative;
    padding: 3rem;
    min-height: 20rem;
    border-radius: 2.5rem;
    background-color: $color_bg;

    &:last-child {
      grid-column: 1 / span 3;
    }

    .textTitle {
      margin-bottom: 1.5rem;
      @include mixin.font($gray_200 700 '2rem');
    }

    .skillsComp {
      @include mixin.font($gray_200 700 '2rem');

      li:not(:first-child) {
        margin-top: 1rem;
      }

      strong {
        color: $gray_800;
      }
    }

    .textRefer {
      position: absolute;
      right: 1.8rem;
      bottom: .8rem;
      @include mixin.font($gray_200 '1.2rem' right);
    }
  }
}
//> 스킬 리스트