@charset 'utf-8';

@use 'styles/helper/mixin';
@use 'styles/setting/var' as *;

/**
 * components/sections
 * skills/skills.module.scss
**/

//< 레이아웃
.skills {
  padding-block: $section_padding_block;
  background-color: var(--color-bg);

  &Box {
    padding: 8rem 0;
    border-radius: $borderRadius_base;
    background-color: var(--bg-content);

    @include mixin.media(S) {
      padding: 5rem 0 2rem;
    }
  }

  &Inner {
    padding-inline: min(5vw, 10.5rem);
  }

  &Sub {
    margin-bottom: 2rem;
    @include mixin.font($gray_800 700 '2rem');

    @include mixin.media(S) {
      margin-bottom: 1rem;
      font-size: 1.8rem;
    }

    span {
      color: $gray_200;
    }
  }
}
//> 레이아웃

//< 스킬 리스트
.skills {
  &List {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include mixin.media(L) {
      grid-template-columns: 1fr;
      gap: 1rem 0;
    }
  }

  &Item {
    position: relative;
    z-index: 1;
    padding: 3rem;
    min-height: 20rem;
    border-radius: $borderRadius_base;
    background-color: var(--color-bg);

    @include mixin.media(L) {
      padding: 2.5rem;
      min-height: auto;
      border-radius: 1.5rem;
    }

    @include mixin.media(S) {
      padding: 1.5rem;
    }

    &:last-child {
      grid-column: 1 / span 3;

      @include mixin.media(L) {
        grid-column: 1;
      }
    }

    .textTitle {
      margin-bottom: 1.5rem;
      @include mixin.font($gray_200 700 '2rem');

      @include mixin.media(S) {
        margin-bottom: .5rem;
        font-size: 1.6rem;
      }
    }

    .skillsComp {
      @include mixin.font($gray_300 '1.6rem/2.8rem');

      @include mixin.media(S) {
        @include mixin.font('1.4rem/2.3rem');
      }

      li {
        word-break: keep-all;

        &:not(:first-child) {
          margin-top: 1rem;

          @include mixin.media(S) {
            margin-top: .6rem;
          }
        }
      }

      strong {
        @include mixin.font(700 '2rem');
        @include mixin.background(linear-gradient(90deg, #a6b8d2, #d8c4f6, #a6b8d2) '/300% 100%');
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradientMove 4s ease infinite;

        @include mixin.keyframes(gradientMove) {
          0% { background-position: 0% 50%; }
          50% { background-position: 100% 50%; }
          100% { background-position: 0% 50%; }
        }

        @include mixin.media(S) {
          font-size: 1.6rem;
        }
      }
    }

    .textRefer {
      position: absolute;
      right: 2rem;
      bottom: 1.6rem;
      @include mixin.font($gray_200 '1.2rem' right);

      @include mixin.media(L) {
        display: block;
        position: initial;
        margin: .6rem 0 -1.6rem;
      }

      @include mixin.media(S) {
        margin: 1rem 0 -1rem;
      }
    }
  }
}
//> 스킬 리스트

//< 다크모드
[data-theme='dark'] {
  .skillsComp {
    color: $gray_100;
  }
}
//> 다크모드