@charset 'utf-8';

@use 'styles/helper/mixin';
@use 'styles/setting/var' as *;

/**
 * components/sections
 * project/project.module.scss
**/

//< 레이아웃 & 공통
.project {
  padding-block: $section_padding_block;
  background-color: $color_white;
}

.icon {
  width: 2rem;
  height: 2rem;
  @include mixin.svg('/2rem' no-repeat);
}
//> 레이아웃 & 공통

//< 탭메뉴
.projectTab {
  ul {
    display: flex;
    gap: 0 .5rem;

    button {
      position: relative;
      padding: .5rem 1.5rem;
      @include mixin.font($gray_200 '1.6rem');
      font-size: 1.6rem;
      @include mixin.transition(all $transition_normal);

      &.tabOn,
      &:hover {
        text-decoration: underline;
        @include mixin.font($gray_800);
      }

      .tabItemNum {
        position: absolute;
        top: .2rem;
        right: 0;
        @include mixin.font('1.1rem');
      }
    }
  }
}
//> 탭메뉴

//< 슬라이더
.projectSlider {
  overflow: hidden;
  position: relative;
  padding: 2rem 0;

  // 컨트롤러
  .projectControl {
    padding-top: 4.8rem;

    ul {
      display: flex;
      gap: 1.8rem;
      justify-content: end;

      button {
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 100%;
        background-color: $gray_100;

        &:disabled {
          .icon {
            background-color: $gray_200;
          }
        }

        .icon {
          margin-right: .2rem;
          @include mixin.svg($gray_800 url('/assets/icon/icon_arrow.svg'));
        }
      }

      // 다음
      li:last-child {
        button {
          @include mixin.transform(rotate(180deg));
        }
      }
    }
  }
}
//> 슬라이더

//< 카드리스트
.projectCardList {
  overflow-x: auto;
  display: flex;
  gap: 0 2rem;
  padding: 1rem calc(50% - $minWidth_base / 2);
  scroll-behavior: smooth;
  // scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  // 카드 아이템
  .cardItem {
    overflow: hidden;
    flex: 0 0 31rem;
    width: 31rem;
    min-height: 38.4rem;
    border-radius: $borderRadius_base;
    background-image: linear-gradient(to bottom, $color_bg, #d5d8da 55%);
    @include mixin.transform(scale(1));
    @include mixin.transition(transform $transition_slow);
    // scroll-snap-align: start;

    > button {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
    }

    // pl 표시 뱃지
    .badgePL {
      position: absolute;
      top: 1.3rem;
      right: 1.3rem;
      width: 3.5rem;
      height: 3.5rem;
      @include mixin.font($color_white 700 '1.5rem/3.7rem' center);
      border-radius: 100%;
      background-color: $color_secondary;
    }

    figure {
      display: flex;
      gap: 5rem 0;
      flex-direction: column-reverse;
      justify-content: space-between;
      padding-block: 2.5rem;
      height: 100%;

      .thumb {
        width: 100%;
        height: 19rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      figcaption {
        padding-inline: 2rem;
        @include mixin.font($gray_800 '1.4rem' left);

        .textComp {
          @include mixin.font($gray_300 700 '1.6rem');
        }

        .textTitle {
          margin-top: 1.5rem;
          @include mixin.font(700 '2.4rem');
          word-break: keep-all;
        }

        .textSkill {
          margin-top: .5rem;
          @include mixin.font($gray_300 700);
          word-break: keep-all;
          text-decoration: underline;
        }
      }
    }

    // 자세히보기
    .btnDetail {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 2rem;
      bottom: 2rem;
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 100%;
      background-color: $color_black;

      .icon {
        @include mixin.svg($color_white url('/assets/icon/icon_plus.svg'));
      }
    }

    // hover
    &:hover {
      @include mixin.transform(scale(1.02));
    }
  }
}
//> 카드리스트

//< 프로젝트 모달 컨텐츠
.modalDetail {
  // 프로젝트 type
  // $projects: ('hwitter', pink), ('movieApp', pink), ('hcgHr', pink), ('skBio', #E9002D), ('gs', #009999), ('mmon', #25272A),
  // ('nStation', #000), ('hago', #0B3148), ('fp', #bc0919);
  $projects:
  ('portfolio', #eae8f1), ('hwitter', #e8e8e8), ('movieApp', #e8e8e8),
  ('hcgHr', #e3efef), ('skBio', #f7e8ec), ('gs', #e3efef),
  ('mmon', #e4ecf1), ('nStation', #e8e8e8), ('hago', #e4ecf1), ('fp', #f7e8ec);

  @each $type, $color in $projects {
    &.type_#{$type} {
      .modalInfo {
        background-color: $color;
      }
    }
  }


  // 상단 프로젝트 정보
  .modalInfo {
    padding: $modal_inner_padding;
    @include mixin.font($gray_800 '1.6rem');
    border-radius: $borderRadius_base;
    background-color: $color_white;

    &Title {
      margin-bottom: 4rem;

      .infoTitle {
        @include mixin.font(700 '3.5rem');
      }
    }

    .infoPosition {
      text-decoration: underline;
    }

    dl {
      display: flex;
      gap: 0 2rem;
      margin-top: .5rem;

      &:first-of-type {
        margin-top: 1.5rem;
      }

      dt {
        min-width: 7rem;
        font-weight: 700;
      }
    }

    .infoBtnGroup {
      display: flex;
      gap: 0 .4rem;
      margin-top: 1rem;

      // 바로가기 버튼
      .btnLink {
        display: inline-flex;
        align-items: center;
        gap: 0 .5rem;
        height: 3.5rem;
        padding: 0 1rem;
        @include mixin.font(400 '1.5rem');
        border-radius: 1rem;
        background-color: $color_white;

        &Icon {
          margin-top: -.1rem;
          width: 1.5rem;
          height: 1.5rem;
          @include mixin.svg($gray_800 url('/assets/icon/icon_link.svg') '/1.5rem' no-repeat);
        }

        &.typeGit {
          .btnLinkIcon {
            margin: -.1rem 0 .1rem;
            @include mixin.svg($gray_800 url('/assets/icon/icon_github.png') '/1.5rem' no-repeat);
          }
        }

        &:hover {
          background-color: pink;
        }
      }
    }

  }

  // 보안문구
  .textSecurity {
    display: flex;
    align-items: center;
    gap: .4rem;
    margin: 4rem 1rem -3rem;
    @include mixin.font($warning 700 '1.5rem');

    strong {
      font-weight: 700;
      text-decoration: underline;
    }

    .icon {
      width: 2rem;
      height: 2rem;
      @include mixin.svg($warning url('/assets/icon/icon_warning.svg') '/2rem' no-repeat);
    }
  }

  // 썸네일
  .thumbnail {
    margin-top: 2rem;
  }

  // 프로젝트 컨텐츠
  .modalContent {
    margin-top: 4rem;
    padding: $modal_inner_padding;
    border-radius: $borderRadius_base;
    background-color: $color_white;
  }

  // 이슈/개선/회고
  .modalSection {
    @include mixin.font($gray_800 '1.8rem');

    &:not(:first-of-type) {
      margin-top: 4rem;
    }

    .modalSubTitle {
      margin-bottom: 1rem;
      @include mixin.font(700 '2rem');
    }

    ul.modalList {
      padding: 0 1rem;

      li {
        position: relative;
        margin-top: .5rem;
        padding-left: 1.5rem;

        &::before {
          position: absolute;
          top: 1rem;
          left: 0;
          width: .4rem;
          height: .4rem;
          border-radius: 100%;
          background-color: $gray_800;
          content: '';
        }
      }
    }

    ol.modalList {
      counter-reset: issue;

      li {
        padding-left: 1rem;
        counter-increment: issue;

        .textIssueTitle {
          font-weight: 700;

          &::before {
            margin: .1rem .8rem 0 0;
            min-width: 2.1rem;
            height: 2.1rem;
            @include mixin.font($color_white '1.6rem/2.4rem' center);
            border-radius: 100%;
            background-color: $color_main;
            content: counter(issue);
          }
        }

        .textIssueDesc {
          padding-left: 2.9rem;
        }

        .textIssueImg {
          margin-top: 1rem;
          padding-left: 2.9rem;
        }
      }
    }
  }
}
//> 프로젝트 모달 컨텐츠