@charset 'utf-8';

@use 'sass:math';
@use 'sass:list';
@use 'sass:meta';
@use 'sass:string';
@use 'styles/helper/function' as *;

/**
 * 헬퍼
 * 믹스인
**/


//< clearfix
//	.foo {
//		@include clearfix();
//	}
@mixin clearfix() {

	&::after {
		display: block;
		clear: both;
		content: '';
	}

}
//> clearfix

//< prefix
//	.foo {
//		@include prefix(transform, rotate(45deg), webkit);
//		@include prefix(transform, rotate(45deg), ('webkit', 'moz'));
//	}
@mixin prefix($property, $value, $prefixes: ()) {

	@if $property == flex {
		-webkit-box-flex: $value;
		min-width: 0;
	}
	@else if $property == flex-direction {
		@if $value == row {
			-webkit-box-orient: horizontal;
		}
		@else if $value == row-reverse {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: reverse;
		}
		@else if $value == column {
			-webkit-box-orient: vertical;
		}
		@else if $value == column-reverse {
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
		}
	}
	@else if $property == flex-wrap {
		@if $value == wrap {
			-webkit-box-lines: multiple;
		}
		@else {
			-webkit-box-lines: single;
		}
	}
	@else if $property == align-items {
		@if $value == flex-start {
			-webkit-box-align: start;
		}
		@else if $value == flex-end {
			-webkit-box-align: end;
		}
		@else if $value == center {
			-webkit-box-align: center;
		}
		@else {
			-webkit-box-align: $value;
		}
	}
	@else if $property == justify-content {
		@if $value == flex-start {
			-webkit-box-pack: start;
		}
		@else if $value == flex-end {
			-webkit-box-pack: end;
		}
		@else if $value == center {
			-webkit-box-pack: center;
		}
		@else if $value == space-between {
			-webkit-box-align: justify;
		}
	}

	@each $prefix in $prefixes {
		-#{$prefix}-#{$property}: $value;
	}
	#{$property}: $value;

}
//> prefix

//< transform + backface-visibility
@mixin transform($value, $origin: null, $visibility: visible) {

	@include prefix(transform, $value, webkit);
	@if $origin {
		@include prefix(transform-origin, $origin, webkit);
	}
	@if $visibility == hidden {
		@include prefix(backface-visibility, hidden, webkit);
	}

}
//> transform + backface-visibility

//< transition
@mixin transition($args...) {

	@include prefix(transition, $args, webkit);

}
//> transition

//< gradient
@mixin linear-gradient($defaultColor, $angle, $colors...) {

	background-color: $defaultColor;
	background-image: -webkit-linear-gradient($angle, $colors);
	background-image: linear-gradient($angle, $colors);

}
//> gradient

//< 백그라운드 속성 분할
// color: transparent color # rgb rgba hsl hsla
// url: none url()
// position: center left top right bottom >> 50% 50% 변경 / length
// size: auto length % cover contain
// repeat: repeat repeat-x repeat-y no-repeat space round
// clip: border-box padding-box content-box
// origin: padding-box border-box content-box
// attachment: scroll fixed local
// 	.foo {
// 		@include mixin.background(color url 'position/size' repeat clip origin attachment);
// 	}
@mixin background($values: null) {

	$isClip: false;
	@each $value in $values {
		@if meta.type-of($value) == color {
			// @debug 'background-color:' $value;
			background-color: $value;
		}
		@else if string.index($value, 'url') or string.index($value, 'gradient') or string.index($value, 'none') {
			// gradient mixin 추가 고려
			// @debug 'background-image:' $value;
			background-image: $value;
		}
		@else if string.index($value, 'repeat') or list.index(space round, $value) {
			// @debug 'background-repeat:' $value;
			background-repeat: $value;
		}
		@else if string.index($value, 'box') {
			@if not $isClip {
				// @debug 'background-clip:' $value;
				background-clip: $value;
				$isClip: true;
			}
			@else {
				// @debug 'background-origin:' $value;
				background-origin: $value;
			}
		}
		@else if list.index(scroll fixed local, $value) {
			// @debug 'background-attachment:' $value;
			background-attachment: $value;
		}
		@else if string.index(meta.inspect($value), '"') == 1 {
			$numbers: string.split(string.unquote($value), '/');
			@for $i from 1 through list.length($numbers) {
				$number: list.nth($numbers, $i);
				@if ($number != '') {
					@if $i == 1 {
						// @debug 'background-position:' $number;
						background-position: $number;
					}
					@else {
						// @debug 'background-size:' $number;
						background-size: $number;
					}
				}
			}
		}
	}

}
//> 백그라운드 속성 분할

//< svg 이미지
// color: transparent color # rgb rgba hsl hsla
// url: none url()
// position: center left top right bottom >> 50% 50% 변경 / length
// size: length % auto contain cover
// repeat: repeat repeat-x repeat-y no-repeat space round
// clip: content-box padding-box border-box margin-box fill-box stroke-box view-box no-clip
// origin: content-box padding-box border-box margin-box fill-box stroke-box view-box
// 	.foo {
// 		@include mixin.svg(color url 'position/size' repeat clip origin);
// 	}
@mixin svg($values: null) {

	$isClip: false;
	@each $value in $values {
		@if meta.type-of($value) == color {
			// @debug 'background-color:' $value;
			background-color: $value;
		}
		@else if meta.type-of($value) == string and string.index($value, 'var') {
			// css 변수
			// @debug 'background-color:' $value;
			background-color: $value;
		}
		@else if string.index($value, 'url') or string.index($value, 'none') {
			// @debug 'mask-image:' $value;
			mask-image: $value;
			-webkit-mask-image: $value;
		}
		@else if string.index($value, 'repeat') or list.index(space round, $value) {
			// @debug 'mask-repeat:' $value;
			mask-repeat: $value;
			-webkit-mask-repeat: $value;
		}
		@else if string.index($value, 'box') or list.index(no-clip, $value) {
			@if not $isClip {
				// @debug 'mask-clip:' $value;
				mask-clip: $value;
				-webkit-mask-clip: $value;
				$isClip: true;
			}
			@else {
				// @debug 'mask-origin:' $value;
				mask-origin: $value;
				-webkit-mask-origin: $value;
			}
		}
		@else if string.index(meta.inspect($value), '"') == 1 {
			$numbers: string.split(string.unquote($value), '/');
			@for $i from 1 through list.length($numbers) {
				$number: list.nth($numbers, $i);
				@if ($number != '') {
					@if $i == 1 {
						// @debug 'mask-position:' $number;
						mask-position: $number;
						-webkit-mask-position: $number;
					}
					@else {
						// @debug 'mask-size:' $number;
						mask-size: $number;
						-webkit-mask-size: $number;
					}
				}
			}
		}
	}

}
//> svg 이미지

//< 폰트 속성 분할
// font-variant 속성 제외
// font-weight 속성 값은 100단위 숫자로 사용 권장(normal 400)
// 가변 폰트 사용 시 font-weight 속성 값은 v_로 시작(v_400)
// 	.foo {
// 		@include font(color weight style 'size/lineheight' [family] align decoration, whitespace letter-spacing);
// 	}
@mixin font($values: (), $options: ()) {

	$isStyle: false;

	@each $value in $values {
		@if meta.type-of($value) == color {
			// @debug 'color:' $value;
			color: $value;
		}
		@else if meta.type-of($value) == string and string.index($value, 'var') {// css 변수
			// @debug 'color:' $value;
			color: $value;
		}
		@else if not $isStyle and list.index((normal, italic), $value) {
			// @debug 'font-style:' $value;
			font-style: $value;
			$isStyle: true;
		}
		@else if list.index((normal, lighter, bold, bolder, 100, 200, 300, 400, 500, 600, 700, 800, 900), $value) {
			// @debug 'font-weight:' $value;
			font-weight: $value;
		}
		@else if meta.type-of($value) == string and string.index($value, 'v_') == 1 {
			// @debug font-variation-settings: 'wght' string.slice($value, 3);
			font-variation-settings: 'wght' string.slice($value, 3);
		}
		@else if meta.type-of($value) == list {
			// @debug 'font-family:' $value;
			font-family: list.join($value, [], $bracketed: false);
		}
		@else if string.index(meta.inspect($value), '"') == 1 {
			$sizes: string.split(string.unquote($value), '/');
			@for $i from 1 through list.length($sizes) {
				$size: list.nth($sizes, $i);
				@if ($size != '') {
					@if $i == 1 {
						// @debug 'font-size:' $size;
						font-size: $size;
					}
					@else {
						// @debug 'line-height:' $size;
						line-height: $size;
					}
				}
			}
		}
		@else if list.index((left, center, right, justify), $value) {
			// @debug 'text-align:' $value;
			text-align: $value;
		}
		@else if list.index((overline, line-through, underline, none), $value) {
			// @debug 'text-decoration:' $value;
			text-decoration: $value;
		}
	}

	@each $option in $options {
		// @debug meta.type-of($option);
		@if (type-of($option) == number) {
			// @debug 'letter-spacing:' $option;
			letter-spacing: $option;
		}
		@else {
			// @debug 'white-space:' $option;
			white-space: $option;
		}
	}

}
//> 폰트 속성 분할

//< opacity IE8
// png 이미지에만 적용됨 (background-color는 반투명 png이미지로 적용)
//	.foo {
//		@include opacity(0.1);
//	}
@mixin opacity($opacity, $pointer-events: null) {

	opacity: $opacity;

	// IE11부터로 제외
	// $ms-opacity: $opacity;
	// $important: string.index(meta.inspect($ms-opacity), '!');
	// @if $important {
	//	$ms-opacity: to-number(string.replace(string.slice(meta.inspect($ms-opacity), 1, $important - 1), ' ', ''));
	// }
	// -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$ms-opacity * 100})';

	@if $pointer-events {
		pointer-events: $pointer-events;
	}

}
//> opacity IE8

//< 모션 키프레임
@mixin keyframes($name) {

	@-webkit-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}

}
//> 모션 키프레임

//< 미디어쿼리
//	.foo {
//		width: 100%;
//		@include media(XL) {
//			width: 50%;
//	}
@mixin media($point) {

	@if $point == XXL {
		@media (max-width: 1600px) { @content; }
	} @else if $point == XL {
		@media (max-width: 1280px) { @content; }// desktop
	} @else if $point == L {
		@media (max-width: 1024px) { @content; }// table-lg
	} @else if $point == M {
		@media (max-width: 768px) { @content; }//tablet
	} @else if $point == S {
		@media (max-width: 640px) { @content; }
	} @else if $point == XS {
		@media (max-width: 480px) { @content; }// mobile
	} @else if $point == XXS {
		@media (max-width: 375px) { @content; }
	} @else {
		@media ($point) { @content; }
	}

}
//> 미디어쿼리

//< 셀렉터 순서 정리(div.class::before 순으로 정리)
@mixin context-unify($context) {

	@at-root {
    @each $selector in & {
      #{$selector}#{$context} {
        @content;
      }
    }
  }

}
//> 셀렉터 순서 정리(div.class::before 순으로 정리)