@charset 'utf-8';

/**
 * common.scss
**/

// components
@use './components/parts' as *;
@use './components/list' as *;

// layout
@use './layout/layout' as *;
@use './layout/theme' as *;

// helper
@use './helper/function' as *;
// @use './helper/mixin' as *;

// setting
@use './setting/var' as *;
@use './setting/reset' as *;

// font
@font-face {
  font-family: 'PretendardVariable';
  src: url('/font/PretendardVariable.woff2') format('woff2');
  font-weight: '45 900';
  font-display: swap;
}

@font-face {
  font-family: 'BagelFatOne';
  src: url('/font/BagelFatOne.ttf') format('truetype');
  font-weight: '100 700';
  font-display: swap;
}