@charset 'utf-8';

@use 'styles/helper/mixin';
@use 'styles/setting/var' as *;

/**
 * 레이아웃
**/

* {
  font-family: $font_primary;
  @include mixin.transition(background-color 0.3s ease, color 0.3s ease);
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  body {
    @include mixin.font(400 '1.4rem/1.47');
  }
}

#root, .hwiView {
  position: relative;
  height: 100%;
}

// 본문바로가기
.hwiSkip {
  position: absolute;
  z-index: 3100;
  top: 0;
  left: 0;
  font-size: 0;
  line-height: 1;
}

// 컨텐츠 view
.hwiView {
  position: relative;
  // display: grid;
  // grid-template-rows: 15rem 1fr;

  .hwiInner {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding-inline: 4rem;
    max-width: $minWidth_base;

    @include mixin.media(S) {
      padding-inline: 2rem;
    }
  }
}

// 공통 타이틀
.hwiTitle {
  margin-bottom: 4rem;
  @include mixin.font($gray_800 700 '5.5rem/1.4' [$font_point]);

  @include mixin.media(S) {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  [data-theme='dark'] & {
    color: $gray_100;
  }
}