@charset 'utf-8';

@use 'styles/helper/mixin';
@use 'styles/setting/var' as *;

/**
 * components/layout
 * header.module.scss
**/

.header {
  position: fixed;
  z-index: $zIndex_header;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem 0;
  @include mixin.transform(translateY(-100%));
  @include mixin.transition(transform $transition_slow);

  &.show {
    @include mixin.transform(translateY(0));
  }

  &Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    width: min(70vw, 110rem);
    min-height: 6rem;
    @include mixin.font($color_white 700 [$font_mono]);
    border-radius: 1.5rem;
    background-color: rgba($color_main, .7);
    backdrop-filter: blur(3px);
    @include mixin.transition(all $transition_slow);

    @include mixin.media(L) {
      width: 95vw;
    }

    @include mixin.media(S) {
      min-height: 4rem;
    }

    &:hover {
      background-color: $color_main;
    }

    // 로고
    .logo {
      display: flex;
      align-items: center;
      gap: 0 .4rem;
      font-size: 2rem;

      &Icon {
        display: block;
        width: 2rem;
        height: 2rem;
        @include mixin.background(url('/favicon.png') '/2rem' no-repeat);
      }

      &Title {
        @include mixin.media(S) {
          font-size: 1.4rem;
        }
      }
    }

    // GNB
    .gnb {
      &List {
        display: flex;
        gap: 0 2.5rem;

        a {
          padding: 1rem 0;
          font-size: 1.6rem;

          &:hover {
            color: $color_pointer;
          }
        }

        &::after {
          content: none;
        }
      }

      @include mixin.media(S) {
        display: none;
      }
    }
  }
}

//< 모바일
// 햄버거 메뉴
.mobileMenuBtn {
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: $zIndex_header + 2;
  gap: .4rem;
  width: 2.1rem;
  height: 2.1rem;

  span {
    display: block;
    height: .2rem;
    border-radius: .2rem;
    background-color: $color_white;
    opacity: 1;
    @include mixin.transform(rotate(0) translate(0));
    @include mixin.transition(all $transition_slow);
  }

  &:hover {
    span {
      background-color: $color_pointer;
    }
  }

  &.menuOpen {
    span {
      &:first-child {
        @include mixin.transform(rotate(45deg) translate(.7rem, .3rem));
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        @include mixin.transform(rotate(-45deg) translate(.5rem, -.1rem));
      }
    }
  }

  @include mixin.media(S) {
    display: flex;
  }
}

// 모바일 GNB 메뉴
.mobileMenu {
  position: fixed;
  z-index: $zIndex_header;
  top: 0;
  right: 0;
  left: 0;
  padding: 4rem 2rem 2rem;
  height: calc(100vh - 2rem);
  border-radius: 1.5rem;
  background-color: $color_main;
  opacity: 0;
  pointer-events: none;
  @include mixin.transition(opacity $transition_slow);

  ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    a {
      @include mixin.font($color_white '2rem' $font_mono);

      &:hover {
        color: $color_pointer;
      }
    }
  }

  &.menuOpen {
    opacity: 1;
    pointer-events: inherit;
  }
}
//> 모바일