@charset 'utf-8';

@use 'styles/helper/mixin';
@use 'styles/setting/var' as *;

/**
 * components/sections
 * career/career.module.scss
**/

.career {
  padding-block: $section_padding_block;
  background-color: $color_bg;

  //< 경력리스트
  &List {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
  }

  &Item {
    display: flex;
    gap: 0 2rem;
    padding: 5rem 4rem;
    border-radius: $borderRadius_base;
    background-color: $color_white;

    dl {
      dt {
        @include mixin.font(700 '2rem');
      }

      dd {
        margin-top: 1.5rem;

        &.textInfo {
          margin-top: .7rem;
          @include mixin.font($gray_800 '1.5rem');
        }
      }
    }
  }

  $company: 'hcg', 'mm';
  @each $logo in $company {
    &Logo_#{$logo} {
      display: inline-block;
      flex: 0 0 6rem;
      width: 6rem;
      height: 6rem;
      border: .1rem solid $gray_100;
      border-radius: 1rem;
      @include mixin.background(#fff url('/assets/images/project/logo_#{$logo}.jpg') '/6rem' no-repeat);
    }
  }
  //> 경력리스트
}