@charset 'utf-8';

@use 'styles/helper/mixin';
@use 'styles/setting/var' as *;

/**
 * components/common
 * commonModal.module.scss
**/

// 모달 wrap
.commonModalWrap {
  position: fixed;
  z-index: $zIndex_modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color_black, .5);
  backdrop-filter: blur(3px);
  opacity: 0;
  @include mixin.transition(opacity $transition_slow);

  &.open {
    opacity: 1;

    .commonModal {
      opacity: 1;
    }
  }
}

// 모달 컨텐츠
.commonModal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  @include mixin.transform(translate(-50%, -50%));
  @include mixin.transition(opacity $transition_slow);

  &Inner {
    overflow: hidden;
    display: grid;
    grid-template-rows: $modal_header_height 1fr;
    // min-width: 50vw;
    width: 80vw;
    max-width: 85vw;
    max-height: 90vh;
    border-radius: 2.5rem;
    background-color: $color_bg;
    // background-color: $color_white;

    @include mixin.media(L) {
      width: 95vw;
      max-width: none;
    }
  }

  // 헤더
  .modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 $modal_side_margin;

    @include mixin.media(L) {
      margin: 0 calc($modal_side_margin - 1rem);
    }

    @include mixin.media(S) {
      margin: 0 calc($modal_side_margin - 2rem);
    }

    // 타이틀
    .modalTitle {
      @include mixin.font($gray_800 700 '2rem');
    }

    // 닫기버튼
    .modalBtnClose {
      width: 2.5rem;
      height: 2.5rem;

      .icon {
        width: 100%;
        height: 100%;
        @include mixin.svg($gray_800 url('/assets/icon/icon_close.svg') '/2.5rem' no-repeat);
      }

      @include mixin.media(S) {
        width: 2rem;
        height: 2rem;

        .icon {
          mask-size: 2rem;
          -webkit-mask-size: 2rem;
        }
      }
    }
  }

  // 바디
  .modalBody {
    overflow: auto;
    margin: 0 $modal_side_margin;
    padding-bottom: $modal_side_margin;

    @include mixin.media(L) {
      margin: 0 calc($modal_side_margin - 1rem);
      padding-bottom: calc($modal_side_margin - 1rem);
    }

    @include mixin.media(S) {
      margin: 0 calc($modal_side_margin - 3rem);
      padding-bottom: calc($modal_side_margin - 3rem);
    }
  }
}